@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

* {
  font-family: "Chango", cursive;
}

body {
  margin: 0;
}
.bg {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.circle {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  z-index: 1;
}
.circle:focus {
  outline: none;
}
.circle.active {
  box-shadow: 0 0 0 4px #555;
}
.wrapper {
  display: flex;
  width: 60%;
  height: 200px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 20px;
}
.color-1 {
  background-color: rgb(241, 117, 119);
}
.color-2 {
  background-color: rgb(236, 206, 151);
}
.color-3 {
  background-color: rgb(116, 224, 121);
}
.color-4 {
  background-color: #5cf;
}
.color-5 {
  background-color: rgb(189, 125, 231);
}



